.footer {
    display: grid;
    place-items: center;
    padding-bottom: 2rem;
    background: #222;
    text-align: center;
    clear: both;
}

.footer p {
    font-size: 1.25rem;
}

.socials {
    margin: 3rem 0 2rem;
    display: flex;
    gap: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: var(--transition);
}

.socials a {
    color: var(--clr-primary-5);
    transition: var(--transition);
}

.socials a:hover {
    color: var(--clr-white);
}